{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('public/js/userImages.js') }}"></script>
{% endblock %}
 
{% block body %}
    <div id="user-images"> </div>
{% endblock %}
    
