{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('public/js/sendEmail.js') }}"></script>
{% endblock %}
 
{% block body %}
    <div id="send-email-panel"> </div>
{% endblock %}
    
