{% extends "base.html.twig" %}

{% block stylesheets %}
    <script src="{{ asset('public/js/home.js') }}"></script>
{% endblock %}
 
{% block body %}
    <div id="user-grid" style="margin-top: 80px;"> </div>
{% endblock %}
    
